seed: 42
horizon:
task: 

model:
  model_kwargs:
    action_dim: 7
    hidden_size: 512
    latent_size: 32
    n_encoder_layers: 2 # 3
    n_decoder_layers: 4 # 6
    n_heads: 8
    horizon: ${horizon}
    dropout: 0.1
    language_feature_dim: 
    low_dim_feature_dim:
    with_obs: True
    with_language: True
    language_model: bert.bert-base-uncased
    image_model: r3m.resnet18

    ckpt_path: null
  training_kwargs:
    lr: 1e-4
    warmup_steps: 1000
    loss_kwargs:
      kl_weight: 1e-2

# values taken from one_policy_to_run_them_all/one_policy_to_run_them_all/algorithms/uni_ppo/ppo/default_config.py
# joint_attention_encoder: 
  # target: models.joint_module.JointAttentionEncoder
  # kwargs: 
    # model_kwargs: 
      #desc_in_size: 3
      # desc_out_size: 5
      # state_in_size: 14 # currently one value for qpos and qvel for each joint 
      # state_out_size: 2 # original implementation: 4 
      # softmax_temp: 1.0
      # softmax_temp_min: 0.015
      # stability_eps: 1e-8
    
logger: 
    name: 'pretrain_vae'
    save_dir: 'home/ubuntu/ehrensberger/master-thesis-master-thesis/thesis/lightning_logs'
    version: '1'
    project: 'pretrain_vae'

trainer:
    devices: [0, 1, 2, 3]
    default_root_dir: '/logs'
    max_epochs: 100
    pretrain_max_epochs: 10
    check_val_every_n_epoch: 1
    log_every_n_steps: 10
    logger:
      target: lightning.pytorch.loggers.wandb.WandbLogger
      kwargs: 
        project: 
        name: 
    num_sanity_val_steps: 0

dataset:
  name: mimicgen 
  load_dir: ehrensberger/mimicgen/datasets/core
  task: []
  dataset_names:
  data_cfg: 
  horizon: ${horizon}
  get_language: True 
  get_canonical_image: # processed in main.preprocess 
  get_image_dict: # processed in main.preprocess 
  get_low_dim: # processed in main.preprocess 
  average_step_per_episode: # processed in main.preprocess
  feature_type: r3m_resnet34
  # feature_type: clip_ViT-B32

dataloader:
  lengths:  [0.9, 0.1, 0.0] # [0.01, 0.01, 0.98]
  batch_size: 256 # original value: 512
  num_workers: 19 # mp.cpu_count() = 20; original value: 32
  pin_memory: True
  persistent_workers: True