RoLD/
thesis/__pychache__/
thesis/lightning_logs/
thesis/logs/ 
thesis/models/__pychache__/
thesis/models/autoencoder/__pychache__
thesis/data/charts/ 
thesis/data/images/
thesis/data/mimicgen/data
thesis/models/autoencoder/__pycache__/autoencoder.cpython-38.pyc
